# PostgreSQL (https://orm.drizzle.team/docs/guides/postgresql-local-setup)
DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres

# Gemini API (https://aistudio.google.com/api-keys)
GEMINI_API_KEY=your_gemini_api_key
# Gemini 3.1 flash lite preview przestanie być w pewnym momencie dostępne, będzie wtedy trzeba zmienić ten model na odpowiednik!
GEMINI_MODEL=gemini-3.1-flash-lite-preview

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Cookies z facebook.com
FACEBOOK_COOKIES=[]

BACKEND_URL=http://localhost:4202

# Na produkcji zmienić na "production"
NODE_ENV=development